@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --primary-color: #6415ff;
  --primary-hover: #9260f8;
  --primary-light: #f3f0ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.container {
  max-width: 1200px;
}

.primary-color {
  color: var(--primary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.primary-bg-hover:hover {
  background-color: var(--primary-hover);
}

.primary-border {
  border-color: var(--primary-color);
}

.primary-light-bg {
  background-color: var(--primary-light);
}
